__pycache__/
*/__pycache__/
permissions.txt
bot/test*.py
bot/test
bot/config_test*.cfg
bot/config.cfg
bot/google_api_secret_test*.json
bot/google_api_secret.json
secret/
logging/
matches/
/venv/
commands/running
.vscode/
.idea/
doc/build/
*.diff
.python-version
.pdm.toml
__pypackages__
.pdm-python
