__pycache__/
*/__pycache__/
permissions.txt
bot/test.py
bot/test2.py
bot/others/
bot/config_test.cfg
bot/client_secret_test.json
bot/secret/
bot/config.cfg
bot/scripts.py
bot/scripts.py
bot/scripts.py
bot/scripts.py
*.iml
bot/.idea/inspectionProfiles/profiles_settings.xml
bot/.idea/misc.xml
bot/.idea/modules.xml
bot/.idea/vcs.xml
bot/.idea/workspace.xml
bot/.idea/inspectionProfiles/Project_Default.xml
bot/client_secret.json
bot/client_secret_old.json
