__pycache__/
*/__pycache__/
permissions.txt
bot/test*.py
bot/others/
bot/test
bot/config_test*.cfg
bot/config.cfg
bot/google_api_secret_test*.json
bot/google_api_secret.json
secret/*
bot/.idea/
secret/
logging/
matches/
bot/others/
commands/running
.vscode/
